// container.scss
@use '../abstracts/variables' as var;
@use '../abstracts/mixins.scss' as mixin;

// Переиспользуемый класс контейнера
.container {
  @include mixin.container();

  // Варианты контейнера с разными отступами
  &--no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  &--small {
    max-width: 900px;
  }

  &--large {
    max-width: 1400px;
  }

  &--full {
    max-width: 100%;
  }
}

// Responsive padding для мобильных устройств
@media (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
