// header.scss
@use "../abstracts/variables" as var;
@use "../abstracts/mixins.scss" as mixin;
@use "sass:color";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var.$primary-color;
  color: white;
  font-family: var.$font-family;

  &__logo {
    font-weight: bold;
    font-size: 1.5rem;
  }

  &__nav {
    display: flex;
    gap: 2rem;

    &-link {
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: var.$secondary-color;
      }
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    gap: 1rem;

    .phone {
      font-weight: bold;
    }

    .button {
      background-color: var.$secondary-color;
      border: none;
      padding: 0.5rem 1rem;
      color: white;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: color.adjust(var.$secondary-color, $lightness: -10%);
      }
    }
  }

  @include mixin.respond(mobile) {
    padding: 1rem;
    &__nav {
      display: none; // заменяем на бургер меню в мобильной версии
    }
  }
}
