@use '@/styles/abstracts/mixins' as mixin;
.dotted-grid {
  position: absolute;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-size: 22px 22px;
  pointer-events: none;
  z-index: -1;

  @include mixin.respond('laptop') {
    display: none;
  }
}
