@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.dotted-grid {
  position: absolute;
  z-index: -1;
  pointer-events: none;

  @include mixin.respond('laptop') {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--grid-item-size, 12px);
    height: var(--grid-item-size, 12px);
    background-color: var(--grid-color, rgba(255, 255, 255, 0.2));
    box-shadow: var(--grid-box-shadow, none);
  }
}
