@use 'variables' as var;
@use 'sass:map';

@mixin respond($breakpoint) {
  $size: map.get(var.$breakpoints, $breakpoint);
  @if $size {
    @media (max-width: $size) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in $breakpoints map";
  }
}

@mixin container($max-width: var.$container-max-width) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  @include respond('laptop') {
    padding-left: 18px;
    padding-right: 18px;
  }

  @include respond('tablet') {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@mixin section-title {
  font-weight: 600;
  font-size: 80px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @include respond('tablet') {
    font-size: 64px;
  }

  @include respond('mobile') {
    font-size: 48px;
  }
}

@mixin page-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 170px 0 80px 0;

  @include respond('tablet') {
    gap: 60px;
    margin: 144px 0 60px 0;
  }

  @include respond('mobile') {
    gap: 40px;
    margin: 134px 0 40px 0;
  }
}
