@use 'variables' as var;
@use 'sass:map';

@mixin respond($breakpoint) {
  $size: map.get(var.$breakpoints, $breakpoint);
  @if $size {
    @media (max-width: $size) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in $breakpoints map";
  }
}

@mixin container($max-width: var.$container-max-width) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  @include respond('tablet') {
    padding-left: 12px;
    padding-right: 12px;
  }
}
