@use 'variables' as var;
@use 'sass:map';

@mixin respond($breakpoint) {
  $size: map.get(var.$breakpoints, $breakpoint);
  @if $size {
    @media (max-width: $size) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in $breakpoints map";
  }
}

// Container mixin для переиспользования
@mixin container($max-width: var.$container-max-width, $padding: var.$container-padding) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding-left: $padding;
  padding-right: $padding;
}
