@use 'variables' as var;
@use 'sass:map';

@mixin respond($breakpoint) {
  $size: map.get(var.$breakpoints, $breakpoint);
  @if $size {
    @media (max-width: $size) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in $breakpoints map";
  }
}

@mixin container($max-width: var.$container-max-width) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  @include respond('laptop') {
    padding-left: 18px;
    padding-right: 18px;
  }

  @include respond('tablet') {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@mixin section-title {
  font-weight: 400;
  font-size: 80px;
  line-height: 0.9;
  text-transform: uppercase;

  @include respond('tablet') {
    font-size: 64px;
  }
}
