// Импорты компонентов
@use 'layout/header';
@use 'layout/footer';
@use 'abstracts/variables' as var;

// Сброс стилей
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Базовые стили
html {
  background-color: var.$background-color;
}

body {
  color: var.$text-color;
  font-size: 16px;
  font-family: var.$font-family-bebas;
  background-color: var.$background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  min-height: 50dvh;
  // padding: 40px 0 100px 0;
}

a {
  color: var.$text-color;
  text-decoration: none;
}
