@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.news-tabs {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    // Планшет: сетка остается 3x2, размеры карточек изменяются через EventCard
    @include mixin.respond('tablet') {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 12px;
    }

    // Мобильная: сетка 2x3
    @include mixin.respond('mobile') {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 8px;
    }
  }
}
