@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.about-section {
  @include mixin.container;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include mixin.section-title;
    text-align: center;
  }

  // Center
  &__description {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    margin: 40px 0 55px 0;
    max-width: 790px;
    width: 100%;
  }

  &__button-wrapper {
    margin-top: 40px;
  }

  // адаптив под планшет
  @include mixin.respond('tablet') {
    &__description {
      font-size: 18px;
    }
  }

  // адаптив под мобильный
  @include mixin.respond('mobile') {
    &__description {
      font-size: 16px;
    }
    &__button-wrapper {
      width: 100%;
    }
    &__button {
      width: 100%;
    }
  }
}
