@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.about-section {
  @include mixin.container;

  &__title {
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
  }

  &__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 40px 0 55px 0;
  }
}
