@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.cover-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 0;
  padding-bottom: 60vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .cover-section__container {
    @include mixin.container();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    position: relative;
    z-index: 1;
  }

  .cover-section__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .cover-section__title {
    font-family: var.$font-family;
    font-size: clamp(60px, 15vw, 225px);
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var.$text-color;
    white-space: nowrap;
    position: relative;
    z-index: 1;
  }

  .cover-section__subtitle {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: var.$font-family;
    font-size: clamp(32px, 6vw, 100px);
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 1;
  }

  .cover-section__subtitle-red {
    color: var.$primary-color;
    z-index: 1;
    position: relative;
  }

  .cover-section__background {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1400px;
    height: auto;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .cover-section__background-image {
    width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
    object-position: center center;
  }

  .cover-section__subtitle-white {
    color: var.$text-color;
    z-index: 1;
    position: relative;
  }

  .cover-section__button-wrapper {
    @include mixin.container();
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
  }

  .cover-section__button {
    position: relative;
    z-index: 3;
  }
}
