@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.cover-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 0;
  padding-bottom: 60vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .cover-section__title {
    font-family: var.$font-family;
    font-size: 225px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var.$text-color;
    white-space: nowrap;
    position: relative;
    z-index: 1;
  }

  .cover-section__subtitle {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: var.$font-family;
    font-size: 100px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 1;
  }

  .cover-section__subtitle-red {
    color: var.$primary-color;
    z-index: 1;
    position: relative;
  }

  .cover-section__button {
    position: relative;
    z-index: 3;
  }
}
