@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.detail-info-section {
  @include mixin.container;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 102px;

    @include mixin.respond('laptop') {
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;
    }
  }

  &__title {
    @include mixin.section-title;
    margin-bottom: 24px;

    @include mixin.respond('laptop') {
      margin-bottom: 0;
    }
  }

  &__description {
    margin-bottom: 40px;
    font-family: var.$font-family-inter;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;

    @include mixin.respond('laptop') {
      grid-column: 1 / -1;
      margin-bottom: 24px;
    }

    @include mixin.respond('mobile') {
      margin-bottom: 0;
      font-size: 16px;
    }
  }

  &__content {
    @include mixin.respond('laptop') {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 20px;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 26px;

    @include mixin.respond('laptop') {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 26px;
    }

    @include mixin.respond('mobile') {
      gap: 8px;
      margin-top: 24px;
    }
  }

  &__mobile-button-wrapper {
    display: none;

    @include mixin.respond('mobile') {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__button {
    @include mixin.respond('laptop') {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    @include mixin.respond('mobile') {
      display: none;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
