@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.detail-section{
    @include mixin.container;
    max-height: 1610px;

    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__title {
      font-size: 80px;
      font-weight: 400;
      line-height: 1;
        }
  
    &__description {
      font-family: 'Inter', sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
      margin: 40px 0 55px 0;
      max-width: 577px;
      width: 100%;
    }
    &__item {
      margin-bottom: 26px;
      width: 100%;
      height: auto;
      max-width: 508px;
    }

    &__images{
      flex-direction: column;
    }
    
    &__part{
      
    }
}