@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.federation-club-section {
  @include mixin.container();
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    @include mixin.section-title();

    @include mixin.respond('mobile') {
      text-align: center;
    }
  }

  &__content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @include mixin.respond('laptop') {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }
  }

  &__image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 183px;
    background-color: #fff;
    object-fit: cover;

    @include mixin.respond('laptop') {
      width: 100%;
      height: 100%;
    }

    @include mixin.respond('mobile') {
      width: 120px;
      height: 120px;
    }
  }
}
