@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.top-officials-section {
  &__container {
    @include mixin.container();
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    align-items: center;

    @include mixin.respond('tablet') {
      gap: 40px;
    }
  }

  &__title-wrapper {
    display: grid;
    grid-template-columns: 490px 490px;
    justify-content: space-between;
    gap: 20px;

    @include mixin.respond('tablet') {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  &__title {
    @include mixin.section-title();

    @include mixin.respond('tablet') {
      text-align: center;
    }
  }

  &__description {
    font-family: var.$font-family-inter;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;

    @include mixin.respond('tablet') {
      text-align: center;
      font-size: 16px;
    }
  }

  &__official-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: var.$font-family-inter;
    max-width: 590px;

    @include mixin.respond('tablet') {
      max-width: 100%;
    }
  }

  &__officials-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    @include mixin.respond('tablet') {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  &__official-image {
    object-fit: cover;
    max-width: 590px;
    max-height: 420px;
    width: 100%;
    height: 100%;
    object-position: top;
    @include mixin.respond('tablet') {
      max-width: 100%;
    }
  }

  &__official-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__official-list {
    list-style: disc;
    // add padding-left to the list
    padding-left: 20px;
    margin: 0;
  }

  &__official-list-item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    opacity: 0.7;
  }
}
