@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.line-section__container {
  width: 100%;
  position: relative;

  // @include mixin.respond('mobile') {
  //   display: none;
  // }

  &__wrapper {
    @include mixin.container();
  }

  &__line {
    width: 100%;
    height: 1.201px;
    background-color: #fff;
    opacity: 0.2;
  }
}
