@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.line-section__container {
  @include mixin.container();

  @include mixin.respond('tablet') {
    display: none;
  }

  .line-section__line {
    width: 100%;
    height: 1.201px;
    background-color: #fff;
    opacity: 0.2;
  }
}
