// line-section.scss
@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.line-section__container {
  @include mixin.container();
  .line-section__line {
    height: 1.201px;
    width: 100%;
    background-color: #ffff;
    opacity: 0.2;
  }
  @include mixin.respond('tablet') {
    display: none;
  }
}
