@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  @include mixin.page-container();

  &__container {
    @include mixin.container();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 600px;

    @include mixin.respond('tablet') {
      gap: 32px;
    }

    @include mixin.respond('mobile') {
      gap: 24px;
    }
  }

  &__title {
    font: 700 160px/1 var.$font-family-bebas;

    @include mixin.respond('laptop') {
      font-size: 120px;
    }
  }

  &__description {
    font: 400 24px/1 var.$font-family-inter;
    line-height: 1.2;
    text-align: center;

    @include mixin.respond('tablet') {
      font-size: 20px;
    }

    @include mixin.respond('mobile') {
      font-size: 16px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__button {
    width: 294px;
    height: 86px;

    @include mixin.respond('tablet') {
      width: 240px;
      height: 72px;
    }

    @include mixin.respond('mobile') {
      width: 200px;
      height: 60px;
      font-size: 14px;
    }
  }
}
