@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixin;

.not-found-page {
  @include mixin.container();
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__title {
    font: 700 160px/1 var.$font-family-bebas;
  }
  &__description {
    font: 400 24px/1 var.$font-family-inter;
    text-align: center;
    line-height: 1.2;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__button {
    width: 294px;
    height: 86px;
  }
}
